<!DOCTYPE html>
<html>
<head>
  <title>TagItWithAutocomplete</title>
  <%= stylesheet_link_tag    "application", "http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => 'layouts/fork_me' %>
<%= yield %>

</body>
</html>